@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

body {
  font-size: 15px;
}

#qwer {
  margin-top: 20px;
  margin-right: 20px;
  -webkit-animation: fadeInUp 500ms ease-in-out;
  animation: fadeInUp 500ms ease-in-out;
}

.header {
  height: 87px;
  border-radius: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  background: -webkit-gradient(linear, right top, left top, from(#021a4b), to(#002d85));
  background: linear-gradient(270deg, #021a4b, #002d85);
  border-radius: 10px 10px 0px 0px;
  color: white;
}

.icon-header {
  position: relative;
  top: 10px;
  border-radius: 50px 10px 50px 50px;
  padding: 10px;
  width: 31px;
  font-size: 12px;
  background: lightblue;
}

.main {
  height: 600px;
  border-radius: 10px;
  background: #f7f7f7;
  -webkit-box-shadow: 2px 2px 21px 2px #bbbbbb;
          box-shadow: 2px 2px 21px 2px #bbbbbb;
}

.content-head {
  bottom: 30px;
  margin-left: 15px;
  border-radius: 10px;
  padding-top: 10px;
  background: white;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.content-mid {
  background: white;
  bottom: 20px;
  margin-left: 15px;
  border-radius: 10px;
  border-top: 10px #000000;
  padding-top: 10px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.icon {
  margin-top: 10px;
}

.icon-content {
  font-size: 24px;
}

.icon-content-price {
  padding-right: 100px;
  font-size: 20px;
}

.icon-content-android {
  padding-right: 100px;
  font-size: 24px;
  position: relative;
  left: 4px;
}

.menu {
  padding-top: 10px;
  border-top: 1px solid #e4d6d6;
}

.menu-start {
  padding-top: 10px;
  border-top: 1px solid #e4d6d6;
}

.menu-content {
  padding-top: 10px;
}

.menu-end {
  border-top: 1px solid #e4d6d6;
  padding-top: 10px;
  font-size: 13px;
}

.menu-start:hover {
  background: #bbbbbb;
  cursor: pointer;
}

.menu-end:hover {
  background: #bbbbbb;
  cursor: pointer;
  border-radius: 0 0 10px 10px;
}

.menu-content:hover {
  background: #bbbbbb;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu:hover {
  background: #bbbbbb;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 10px;
}

.text {
  border-bottom: 1px solid #e4d6d6;
}

.close {
  margin-left: 90%;
  text-align: center;
  background: #bbbbbb;
  width: 100px;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 10px;
}

.button-up {
  display: none;
  float: right;
  margin-right: 20px;
  margin-top: 620px;
  font-size: 30px;
  padding: 10px;
  width: 70px;
  text-align: center;
  backgroud-color: black;
  cursor: pointer;
  background: #5e72e4;
  border-radius: 50px 10px 50px 50px;
}

.chat-head {
  bottom: 30px;
  margin-left: 15px;
  height: 470px;
  border-radius: 10px;
  padding-top: 20px;
  background: white;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

#chat {
  display: none;
  -webkit-animation: fadeInUp 500ms ease-in-out;
  animation: fadeInUp 500ms ease-in-out;
}

#input-text {
  bottom: 13px;
  background: white;
  width: 345px;
  position: relative;
  height: 47px;
  padding-right: 80px;
  padding-left: 15px;
  border: none;
  resize: none;
  outline: none;
  color: #888;
  border-top: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
  -webkit-animation: fadeInUp 500ms ease-in-out;
  animation: fadeInUp 500ms ease-in-out;
}

.upload > input {
  display: none;
}

.chat-submit {
  position: relative;
  bottom: 46px;
  left: 270px;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  border-radius: 50%;
  color: #5A5EB9;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

#backchat {
  display: none;
  -webkit-animation: fadeInUp 500ms ease-in-out;
  animation: fadeInUp 500ms ease-in-out;
}

.header-chat {
  height: 87px;
  border-radius: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  background: -webkit-gradient(linear, right top, left top, from(#021a4b), to(#002d85));
  background: linear-gradient(270deg, #021a4b, #002d85);
  border-radius: 10px 10px 0px 0px;
  color: white;
}

.icon-header-chat {
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
  padding-top: 8px;
  padding-right: 3px;
  width: 30px;
  height: 30px;
  background: #3462bd;
  cursor: pointer;
  border-radius: 5px;
}

.chat-icon {
  margin-right: 10px;
}

.icon-profile {
  background: #2a2980;
  width: 24px;
  padding-top: 4px;
  height: 24px;
  color: white;
  font-size: 13px;
  text-align: center;
  position: relative;
  border-radius: 25px 25px 25px 25px;
}

.chat-isi {
  border-radius: 0px 20px 20px 20px;
  font-size: 14px;
  padding: 10px;
  background: #f7f7f7;
}
/*# sourceMappingURL=style.css.map */